@import url(variables.css);
.cool{
  --primary: var(--dark-blue);
  --secondary: var(--light-blue);
  --card-color: var(--pink);
}
.warm{
  --primary: var(--dark-orange);
  --secondary: var(--light-orange);
  --card-color: var(--light-green);
  
}
html,body,*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  text-align: center;
  background-color: var(--primary);
}

h1{
font-size: var(--h1);
}
h2{
 font-size:var(--h2);
}

.contents{
display: flex;
justify-content: space-evenly;
flex-direction: row;
flex-wrap: wrap;
max-width: 100%;
font-size: var(--p);
background-color: var(--secondary);
}
.productCard{
  margin: 1%;
  padding: 20rem;
  height:10%;
  border:1rem;
  background-color: var(--card-color);
  
}
.navBar{
  display: flex;
  justify-content: space-around;
  font-size: var(--p);
}
