/* for variables like colors etc. to apply for different themes.*/
:root{
    /*Typography*/
    --h1: 7.594rem;
    --h2: 5.063rem;
    --h3: 3.8rem;
    --p: 3.375rem;

    /*Intentions for themes*/

    --purle: #423558;
    --dark-purple:  #382d4b;
    --light-purple:#4c3d65;
    --sand: #c6b488;

    --white: #fff9ec;
    --dark-white: #e6e0d4;
    --light-white: #ffffff;
    --black: #333a3f;

}
/*Theme*/
.dark{
  --primary: var(--purle);
  --card-shadow1:var(--dark-purple);
  --card-shadow2:var(--light-purple);
  --font-color:var(--sand);

  }
.light{
    --primary: var(--white);
    --card-shadow1:var(--dark-white);
    --card-shadow2:var(--light-white);
    --font-color:var(--black);
  }
